body {
    font-family: 'Open Sans';
    height: 100%;
    background: white;
}

.logo {
    filter: invert(100%);
    position: absolute;
    left: 200px;
    top: 41px;
}

.navbar {
    position: absolute;
    left: 750px;
    top: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    line-height: 44px;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #Fd357f;
}

.headline {
    position: absolute;
    width: 700px;
    height: 288px;
    left: 200px;
    top: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 110px;
    letter-spacing: -0.04em;
    color: #393939;
}

.subtitle {
    position: absolute;
    width: 503px;
    height: 100px;
    left: 200px;
    top: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #425466;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 300px;
    height: 50px;
    left: 250px;
    top: 850px;
}

.start {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    background-color: #393939;
    border-radius: 50px;
    padding: 14px 16px;
}

.contact {
    display: block;
    color: #393939;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
}

.sign-in {
    list-style-type: none;
    padding: 0px 13px;
    position: absolute;
    width: 91.12px;
    height: 33px;
    left: 1500px;
    top: 22px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.image-container {
    position: absolute;
    left: 1040px;
    top: 176px;
}

.image {
    box-shadow: 5px, 10px;
}

.background {
    position: absolute;
    width: 2048px;
    height: 478px;
    left: 0px;
    top: 0px;
    background-color: #f2994a;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(242,153,74,1), rgba(255,0,0,1));

}